.popups {
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0.1, 0.1, 0.1, 0.2);
}

.popup {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.popup > * {
  pointer-events: auto;
}

.popup-data {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-block: 8px;
  background-color: rgb(48, 47, 51);
  border-radius: 10px;
  border: 2px solid #54beefff;
  padding-inline: 30px;
  margin-inline: 12px;

  color: white;
}

.popup-text {
  margin: 6px;
  padding-inline: 12px;
}

.markdown-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.markdown-text-wrapper > ol,
.markdown-text-wrapper > ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.markdown-text-wrapper > p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.popup-btns-bottom {
  margin-top: 8px;
  margin-bottom: 8px;
}

.popup-btns-side {
  margin-right: 8px;
}

.popup-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.popup-btns > button {
  padding: 8px;
  margin: 5px;
  border: 1px solid rgb(84, 190, 239);
  background-color: rgb(74, 74, 75);
  color: white;
  cursor: pointer;
}

.popup-btns > button:hover:enabled {
  border: 1px solid rgb(84, 190, 239);
  background-color: rgb(121, 121, 123);
  color: white;
}

.tutorial-arrow {
  pointer-events: none;
  position: absolute;
  width: 12vw;
  height: auto;
  z-index: 999;
}
